In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import xlsxwriter
import os
import yfinance as yf

In [3]:
tickers = pd.read_csv('constituents_csv.csv')
tickers = tickers['Symbol']

valData = pd.DataFrame(columns=['Ticker', 'Price', 'P/E', 'Num Shares to Buy'])

In [4]:
for ticker in tickers:
    curr = yf.Ticker(ticker)
    try:
        temp = curr.info
        valData.loc[len(valData.index)] = [ticker, temp['regularMarketPreviousClose'], temp["forwardPE"], np.nan]
    except:
        print(ticker, " got no data")

valData

ATVI  got no data
ABC  got no data
ANTM  got no data
BLL  got no data
BRK.B  got no data
BF.B  got no data
CERN  got no data
CTXS  got no data
DISCA  got no data
DISCK  got no data
DRE  got no data
RE  got no data
FB  got no data
FRC  got no data
FISV  got no data
FBHS  got no data
INFO  got no data
KSU  got no data
NWS  got no data
NLSN  got no data
NLOK  got no data
PBCT  got no data
PKI  got no data
SIVB  got no data
TWTR  got no data
VIAC  got no data
WLTW  got no data
XLNX  got no data

    Ticker   Price        P/E  Num Shares to Buy
0      MMM  105.56  10.838940                NaN
1      AOS   81.56  20.381546                NaN
2      ABT  108.48  23.548595                NaN
3     ABBV  152.59  13.883513                NaN
4     ABMD  381.02  60.768738                NaN
..     ...     ...        ...                ...
472    YUM  129.98  22.298456                NaN
473   ZBRA  265.31  24.033007                NaN
474    ZBH  119.65  15.183879                NaN
475   ZION   43.62  10.784314                NaN
476    ZTS  194.66  32.281456                NaN

[477 rows x 4 columns]

In [5]:
valData.sort_values('P/E', ascending=False, inplace=True)
valData = valData[valData['P/E'] > 0]
valData = valData[:100]
valData.reset_index(inplace=True)
valData.drop('index', axis = 1, inplace=True)

In [6]:
valData

   Ticker   Price         P/E  Num Shares to Buy
0    ILMN  140.23  162.790700                NaN
1     DLR  134.91  115.487180                NaN
2     UDR   37.28   91.829270                NaN
3    WELL   89.95   74.966660                NaN
4    EQIX  801.60   73.432500                NaN
..    ...     ...         ...                ...
95    PSA  297.14   26.696236                NaN
96    LIN  409.13   26.619572                NaN
97    ACN  348.75   26.471247                NaN
98   EXPD  126.67   26.415983                NaN
99     WM  176.81   26.253710                NaN

[100 rows x 4 columns]

In [8]:
amount = 1000000 #amount you want to put in this portfolio

position_size = float(amount/len(valData.index))
for row in valData.index:
    valData.loc[row, 'Num Shares to Buy'] = position_size // valData.loc[row, 'Price']

valData

   Ticker   Price         P/E  Num Shares to Buy
0    ILMN  140.23  162.790700               71.0
1     DLR  134.91  115.487180               74.0
2     UDR   37.28   91.829270              268.0
3    WELL   89.95   74.966660              111.0
4    EQIX  801.60   73.432500               12.0
..    ...     ...         ...                ...
95    PSA  297.14   26.696236               33.0
96    LIN  409.13   26.619572               24.0
97    ACN  348.75   26.471247               28.0
98   EXPD  126.67   26.415983               78.0
99     WM  176.81   26.253710               56.0

[100 rows x 4 columns]